.infoPart {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-top: 60px;
  padding-bottom: 60px;

  .infoTitle {
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
  }

  .infoBlockFirst {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;

    .inFirstBlock {
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .firstBlockWrapper {
        width: 50%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .firstBlockTitle {
          font-size: 58px;
          margin: 0;
        }

        .firstBlockLogo {
          width: 155px;
          border-radius: 10px;

        }
      }

      .firstBlockDescription {
        width: 90%;
        text-align: left;
      }
    }

  }
  .br {
    height: 3px;
    background-color: #000;
  }

  .infoBlockSecond {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;

    .inSecondBlock {
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .secondBlockWrapper {
        width: 50%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .secondBlockTitle {
          font-size: 58px;
          margin: 0;
        }
        .secondBlockLogo {
          width: 250px;
          border-radius: 10px;
        }
      }
      .secondBlockDescription {
        width: 90%;
        text-align: right;
      }
    }
  }
}