.tableBlock {
  padding-top: 1.5rem;

}
table {
  border: .3px solid black;
  border-radius: 12px;
}
th, td, td {
  text-align: center;
  border: none;
  padding: 1rem;
  width: 100px;
}

select, option {
  border: none;
  background-color: transparent;
  font-size: 20px;
}