html {
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
table {
  width: 100%;
  font-family: 'Roboto', monospace;
}
th {
  text-align: center;
  border: none;
  padding: 1rem;
  background-color: rgb(233, 232, 232);
  border-radius: 2px;
} td, td {
  text-align: center;
  border: none;
  padding: 1rem;
  width: 100px;
  background-color: rgb(246, 246, 246);
  border-radius: 2px;
}

select, option {
  border: none;
  background-color: transparent;
  font-size: 25px;
}